# Configuração da Aplicação
API_PORT=3000
ENVIRONMENT=development
LOG_LEVEL=INFO

# Timeout padrão para requisições a APIs externas (em segundos)
API_TIMEOUT=10

# Configuração de Cache (em segundos)
CACHE_CITIES_TTL=3600
CACHE_WEATHER_TTL=1800
CACHE_COORDINATES_TTL=86400
